body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
}

.box {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.todo-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
}




#addTask {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.delete-btn {
    background-color: #dc3545;
    height: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
